- @clubs.each do |club|
  %ul.pricing-table.small-4
    %li.title
      = club.name
    %li.cta-button
      - if club.users_clubs.where(model_id: current_model.id).length == 0
        = link_to "Join", posts_path(club.id), class: "button" 
      - else
        = link_to "New Post", new_post_path(club.id), class: "button"
        = link_to "Show Posts", posts_path(club.id), class: "button"
